body{
    background-color: #6895D2;
}

h1{
    color: #FE7A36;
    font-size: 110px;
}

h2{
    color: red;
    font-size: 50px;
    margin-top: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 25px;
}